body {
	font-family:Georgia, serif;
	margin: 0px;
}

#top-bar
{
	height: 100px;
	background-color: #000000;
	color: white;
	top: 0px;
	width: 100%;
}

#categories {
	clear: both;
	margin-top: 30px;
	border: 2px solid red;
	width: 96%;
	margin-left: 2%;
	height: 900px;
}

.subcategory-block{
	border: 2px solid #2196F3;
	width: 95%;
	float: left;
	margin: 2%;
	position: relative;
	padding-top: 5%;
	padding-bottom: 4%;
	text-align: center;
	font-size: 2.3em;
	font-weight: bold;
	color: #2196F3;
}

#extra-stuff {
	font-size: 0.6em;
	color: black;
	display: inline;
}

#top-text
{
	padding-top:30px;
	font-size: 2.3em;
	text-align: center;
}

#heading {
	 font-size: 1.5em;
	 margin-top: 40px;
	 text-align: center;
	 text-decoration: underline;
}

.loginbutton {
	border: 1px solid rgb(119, 119, 119);
	padding: 5px 12px;
	border-radius: 5px;
	background-color: rgb(221, 221, 221);
	margin: 10px;
}

.logintab {
	border-radius:5px;
	border: 2px solid black;
	background-color:#E8E8E8;
	width: 23%;
	margin-top: 150px;
}

.logintop {
	font-size: 1.2em;
	padding: 10px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid rgb(170, 170, 170);
	background-color: rgb(205, 205, 205);
	margin-bottom: 25px;
}

.logintab-signup2
{
	margin-top: 80px;
}

.inputfield 
{
	margin: 10px;
	width: 80%;
	padding: 5px;
}

.normal-text
{
	font-size: 1em;
	text-align: center;
	margin: 0px 10px;
	padding: 3px;
}

.big-text
{
	font-size: 1.3em;
	text-align: center;
	margin: 25px 10px 10px 10px;
	padding: 3px;
}

.bottom-text
{
	margin-top: 30px;
	text-align: center;
}

.main-content
{
	border: 2px solid blue;
	width: 96%;
	margin: 3% 2%;
}

td, th
{
	padding: 15px;
	text-align: center;
}

th
{
	background-color: #c0c0c0;
}

#main_message
{
	text-align: center;
	color: grey;
	font-size: 1.7em;
	font-style: italic;
}

.subscribe
{
	height: 110px;
	width: 96%;
	padding: 2%;
	background-color: lightgrey;
	font-weight: bold;
	border-bottom: 1px solid grey;
}

.subs-company
{
	float:left;
	font-size: 1.4em;
}

.subs-category
{
	font-size: 2.3em;
	position: relative;
	clear: both;
	padding-left: 8%;
	padding-top: 1%;
}

.subs-priority
{
	float: right;
	font-size: 1.4em;
}

.subs-lim
{
	margin-top: -45px;
	float: right;
	font-size: 1.4em;
}

.subs-unsubscribe
{
	float: right;
	padding: 5px 10px;
}

.top_nav
{
	width: 96%;
	margin: 2%;
	padding: 0px;
	height: 55px;
    overflow: hidden;
	background-color: #333;
	font-size: 1.4em;
	font-weight: bold;
}

.top_nav li
{
	float: left;
	list-style: none;
	width: 20%;
	margin: 0px;
}

.top_nav li a
{
	display: block;
	padding: 14px;
	text-align: center;
	margin: 0px;
	color: white;
    border-right: 1px solid #bbb;
}

.top_nav li a:hover
{
	background-color: #111;
}

.top_nav li .last-link
{
	border-right: none;
}

.active
{
	background-color: #4CAF50;
}

.submit-button
{
	padding: 7px 10px;
	font-weight: bold;
}
